<div class="jumbotron">

  {{testing}}
  <h1>Outstanding issues</h1>

  <p>hoera</p>

</div>

{{selectedIssue}}
<div class="row marketing">
  <form>
    <div class="form-group col-sm-6">
      <label for="id" class="">id:</label><input class="form-control" ng-model="selectedIssue.id" name="id"
                                                 type="text"/></div>
    <div class="form-group col-md-12">
      <label for="desc" class="">desc:</label><input class="form-control" ng-model="selectedIssue.desc" name="desc"
                                                     type="text"/></div>
    <div class="form-group col-md-12">
      <label for="priority" class="">priority:</label><input class="form-control" ng-model="selectedIssue.priority"
                                                             name="priority" type="text"/></div>

    <div class="form-group col-md-12">
      <input class="btn btn-default" type="submit" value="save" ng-click="saveIssue(selectedissue)"/>
      <input class="btn btn-default" type="submit" value="cancel"/>
    </div>
  </form>

</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped">
    <tr>
      <th>
        Description
      </th>
      <th>
        Priority
      </th>
    </tr>

    <tr ng-repeat="issue in issues" ng-click="setSelected(issue)">
      <td>
        {{issue.desc}}
      </td>
      <td>
        {{issue.priority}}
      </td>
    </tr>
  </table>
</div>

